<div class="container w-75 p-3">
  <h1>Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <label class="form-label" for="question">Ask your coach anything</label>
    <div class="input-group w-75">
      <input class="form-control" type="text" id="question" name="question" autocomplete="none">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </form>
</div>
